$primary-color: #7ab0b2;
$light-contrast-color: #e6feff;
$dark-contrast-color: #b27954;
$error-color: #e22;

body {
  margin: 0;
  font-family: Verdana, sans-serif;
  background-color: white;
  font-size: 16px;
}

#working_notice {
  position: fixed;
  left: 50%;
  bottom: 0%;
  margin-left: -100px;
  text-align: center;
  width: 200px;
  padding: 4px;
  background-color: $dark-contrast-color;
  color: $light-contrast-color;
  font-weight: bold;
  border-radius: 8px 8px 0 0;
}

#view > div > header {
  background-color: $primary-color;
  margin-bottom: 24px;

  h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 4px 0 4px 16px;
    color: $light-contrast-color;
  }

  > nav {
    font-size: 0.75em;
    padding: 0 0 4px 16px;

    a {
      color: $light-contrast-color;
      padding-right: 0.5em;
      &:hover {
        color: $dark-contrast-color;
      }
    }
  }
}

#view .pageActions {
  margin-left: 16px;
}

a {
  color: $dark-contrast-color;
  text-decoration: none;
  &:hover {
    color: $primary-color;
  }
}

a.button {
  background-color: $primary-color;
  color: $light-contrast-color;
  border-radius: 4px;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  border: none;

  &:hover {
    color: white;
  }
}

input[type=submit] {
  background-color: $primary-color;
  color: $light-contrast-color;
  border-radius: 4px;
  font-size: 1.5em;
  font-weight: bold;
  padding: 4px 8px 4px 8px;
  border: none;

  &:hover {
    color: white;
  }
}

#view > .login, #view > .register {
  form {
    margin: 1em auto 0 auto;
    width: 400px;
    padding: 1em;
    background-color: $light-contrast-color;
    border-radius: 8px;
    border: 2px solid $primary-color;

    dl, dd {
      margin: 0;
    }

    label {
      color: $primary-color;
    }

    input[type=text], input[type=email], input[type=password] {
      width: 100%;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }

    a {
      font-size: 0.75em;
    }
  }
}

#view > .home {
  ul.unreadItems {
    padding: 0;
    li {
      list-style-type: none;
      padding: 0 16px 0 16px;
      margin-bottom: 1em;

      &.selected {
        border-top: 4px solid $primary-color;
        border-bottom: 4px solid $primary-color;
        padding: 1em;
        background-color: $light-contrast-color;
      }

      .title {
        font-weight: bold;
        font-size: 1.25em;
      }

      .meta {
        font-size: 0.75em;
        color: $primary-color
      }
    }
  }
}

#view > .feeds {
  form {
    margin: 1em;
    padding: 1em;
    background-color: $light-contrast-color;
    border-radius: 8px;
    border: 2px solid $primary-color;

    dl, dd {
      margin: 0;
    }

    label {
      color: $primary-color;
    }

    input[type=text] {
      width: 100%;
      font-size: 1.5em;
      margin-bottom: 0.5em;
    }

    input[type=file] {
      margin-bottom: 0.5em;
    }
  }

  ul {
    padding: 0 1em 0 1em;
    li {
      list-style-type: none;
      margin-bottom: 1em;

      .name {
        font-weight: bold;
        font-size: 1.25em;
      }

      .meta, .actions {
        font-size: 0.75em;
        color: $primary-color
      }

      .error {
        color: $error-color;
      }
    }
  }
}
