<header>
  <h1>The Pithy Reader</h1>
</header>
<form>
  <dl>
    <dt>
      <label for="name">User name</label>
    </dt>
    <dd><input type="text" id="name" name="name" autofocus /></dd>

    <dt>
      <label for="password">Password</label>
    </dt>
    <dd><input type="password" id="password" name="password" /></dd>
  </dl>

  <input type="submit" value="Login" />
  <a href="#" class="register">Create an account</a>
</form>
