Package: tpr
Architecture: amd64
Maintainer: Jack Christensen <jack@jackchristensen.com>
Depends: debconf (>= 0.5.00), adduser, libc6
Priority: optional
Version: <%= VERSION %>
Description: The Pithy Reader
 Simple RSS reader
