<form class="subscribe">
  <dl>
    <dt>
      <label for="url">Feed URL</label>
    </dt>
    <dd><input type="text" name="url" /></dd>
  </dl>
  <input type="submit" value="Subscribe" />
</form>

<form class="import">
  <dl>
    <dt>
      <label for="file">OPML File</label>
    </dt>
    <dd><input type="file" name="file" /></dd>
  </dl>
  <input type="submit" value="Import" />
</form>
