<header>
  <h1>The Pithy Reader</h1>
</header>
<form>
  <dl>
    <dt>
      <label for="email">Email</label>
    </dt>
    <dd><input type="email" id="email" name="email" autofocus /></dd>
  </dl>

  <input type="submit" value="Reset Password" />
</form>
