<header>
  <h1>The Pithy Reader</h1>
</header>
<form>
  <dl>
    <dt>
      <label for="password">Password</label>
    </dt>
    <dd><input type="password" id="password" name="password" autofocus /></dd>
  </dl>

  <input type="submit" value="Reset Password" />
</form>
