<dl>
  <dt>
    <label for="existingPassword">Existing Password</label>
  </dt>
  <dd>
    <input type="password" name="existingPassword" id="existingPassword" />
  </dd>
  <dt>
    <label for="newPassword">New Password</label>
  </dt>
  <dd>
    <input type="password" name="newPassword" id="newPassword" />
  </dd>
  <dt>
    <label for="passwordConfirmation">Password Confirmation</label>
  </dt>
  <dd>
    <input type="password" name="passwordConfirmation" id="passwordConfirmation" />
  </dd>
</dl>

<input type="submit" value="Update" />
