<html>
<head>
  <title>The Pithy Reader</title>
  <%= stylesheet_link_tag "base" %>
  <%= javascript_include_tag "application" %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="view"></div>
<footer>
  <a href="https://github.com/jackc/tpr">The Pithy Reader</a>
  © 2013-2016
  <a href="http://www.jackchristensen.com/">Jack Christensen</a>
</footer>
</body>
</html>
