<html>
<head>
  <title>The Pithy Reader</title>
  <%= stylesheet_link_tag "base" %>
  <%= javascript_include_tag "application" %>
</head>
<body>
<div id="working_notice"><div>Working...</div></div>
<div id="view"></div>
</body>
</html>